/* ------------------
 * Imports / Variables
 * ------------------ */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

$primary: hsl(257, 40%, 49%);
$secondary: #fff;
$light-gray: #efefef;
$body-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Poppins', sans-serif;


/* ------------------
 * Global Styles
 * ------------------ */

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto;
  background: $primary url('../images/bg-mobile.svg') no-repeat;
  color: $secondary;
  font: 16px $body-font-family;
  padding: 20px;
  text-align: center;

  @media screen and (min-width: 376px) {
    background: $primary url('../images/bg-desktop.svg');
  }

  h1 {
    font: 30px $heading-font-family;
  }
}


/* ------------------
 * Main / Section Styles
 * ------------------ */

main {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  section {
    img {
      max-width: 100%;
    }
  }
}


button {
  background: $secondary;
  color: $primary;
  font: 18px $body-font-family;
  padding: 10px 50px;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}


/* ------------------
 * Main / Section Styles
 * ------------------ */

 footer {
   display: grid;

  .social-container {
    place-self: center;
  }

   .social-media-icons {
     height: 32px;
     width: 32px;
     margin-right: 10px;
   }

   .attribution {
     font-size: 11px;
     text-align: center;

     a {
       color: $light-gray;

       &:focus,
       &:active,
       &:hover {
         color: darken($light-gray, 10%);
       }
     }
   }
 }


/* ------------------
 * Desktop only Styles
 * ------------------ */

@media screen and (min-width: 376px) {

  body,
  h1,
  p {
    text-align: left;
  }

  .right-section {
    padding: 20px;
  }

  footer {

    .social-container {
      place-self: center end;
    }
  }
}